<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="svc_profile_change_mail_start" controller="svc_profile.controller.change-mail::startForm" path="/cm" >
        <!-- settings -->
    </route>

    <route id="svc_profile_change_mail_sent1" controller="svc_profile.controller.change-mail::mail1Sent" path="/cm/mail1_sent" >
        <!-- settings -->
    </route>

    <route id="svc_profile_change_mail_activate" controller="svc_profile.controller.change-mail::activateNewMail" path="/cm/activate" >
        <!-- settings -->
    </route>

    <route id="svc_profile_change_pw_start" controller="svc_profile.controller.change-pw::startForm" path="/cpw" >
        <!-- settings -->
    </route>
</routes>