{% trans_default_domain 'ProfileBundle' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mail sent{% endtrans %}{% endblock %}

{% block body %}
{% trans_default_domain 'ProfileBundle' %}
<h1>{% trans %}Mail sent{% endtrans %}</h1>

{% trans %}We sent a mail to %newMail%.{% endtrans %} {% trans %}Please check it and confirm the change.{% endtrans %}


{% endblock %}