{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mail sent{% endtrans %}{% endblock %}

{% block body %}
<h1>Mail sent</h1>

We sent a mail to {{ newMail }}. Please check it and confirm the change.


{% endblock %}