{% trans_default_domain 'ProfileBundle' %}
<h2>{% trans %}Confirm new mail address{% endtrans %}</h2>

{% trans %}Please click here to activate your new email{% endtrans %}: <a href='{{url}}'>Link</a> 