{% trans_default_domain 'ProfileBundle' %}
<h2>{% trans %}Email address changed{% endtrans %}</h2>

{% trans %}We changed your address from %oldMail% to %newMail%.{% endtrans %}<br>
{% trans %}If you did not initiate this change, please reset the password and contact support.{% endtrans %}
<br /><br />
<a href='{{ startPage }}'>Start page</a>
