<h2>Mail address changed</h2>

We changed your address from {{ oldMail }} to {{ newMail }}.<br>
If you did not initiate this change, please reset the password and contact support.
<br /><br />
<a href='{{ startPage }}'>Start page</a>
