{% extends 'base.html.twig' %}

{% block title %}{% trans %}Change mail{% endtrans %}{% endblock %}

{% block body %}

<div class='form-small'>
<h3>{% trans %}Change mail{% endtrans %}</h3>

{{ form(form) }}
</div>

{% endblock %}