{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Profile{% endtrans %}{% endblock %}

{% block body %}
<div class='form-small'>
<h3>Change mail</h3>


{{ form(form) }}
</div>

{% endblock %}