{% trans_default_domain 'ProfileBundle' %}
<h2>{% trans %}Password changed{% endtrans %}</h2>

{% trans %}We changed the password for user %mail%.{% endtrans %}<br>
{% trans %}If you did not initiate this change, please reset the password and contact support.{% endtrans %}
<br /><br />
<a href='{{ startPage }}'>{% trans %}Start page{% endtrans %}</a>
