{% trans_default_domain 'ProfileBundle' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Change password{% endtrans %}{% endblock %}

{% block body %}
{% trans_default_domain 'ProfileBundle' %}
<div class='form-small'>
<h3>{% trans %}Change password{% endtrans %}</h3>

{{ form(form) }}
</div>

{% endblock %}